body {
    background-image: url(../images/gravel.png);
    position: fixed;
}
.Donald {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    width: 70%;
    height: 25%;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 110px;
    height: 550px;
}

hr {
    color: #dddddd;
}

#image1 {
    width: 230px;
    height: 180px;
    float: left;
    padding: 15px;
}
p {
    line-height: 2;
    color: #777777;
    text-align: left;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.about-me {
    padding-right: 15px;
}
h2 {
    text-align: left;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 26px;
    padding-top: 15px;

}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #666666;
    margin-top: 150px;
    text-align: center;
    color: #cccccc;
    padding-bottom: 0px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    border-top: 5px #4aaaa5 solid;
    height: 54px;
    
}
h3{
    font-size: 9px;
    display: block;
    font-weight: bold;
    margin-top: 1px;


}
.navbar-brand {
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    margin-top: 0px;
    margin-left: 195px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
    position: fixed;
    top: 0;
    border-top: 10px #4aaaa5 solid;
    height: 80px;
    font-weight: bold;
    font-size: 26px;
}

.navbar-nav {
    margin-left: 1000px;
}

#navbarNavAltMarkup {
    height: 64px;

}
.navbar-light {
    border-bottom: 2px solid #ccc;

}

.navbar-light .navbar-brand {
    color: white;
}

