body {
    background-image: url(images/gravel.png);
    position: fixed;
}

#CONTACT- {
    text-align: left;
    padding: 25px;
    color: #cccccc;
}
h2 {
    padding-top: 20px;
}
#message {
    height: 140px;
    width: 650px;
}
#name{
    width: 650px;
}
#email {
    width: 650px;
}
#submit {
    background-color: #4aaaa5;
    color: white;
    margin-top: 15px;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.Donald {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 360px;
    margin-right: 300px;
    line-height: 20px;
    width: 700px;
}

hr {
    color: #cccccc;
}

.about-me {
    padding-right: 15px;
}

.navbar-brand {
    background-color: #4aaaa5;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    margin-top: 0px;
    margin-left: 340px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
    position: fixed;
    top: 0;
    border-top: 10px #4aaaa5 solid;
    height: 80px;
    font-weight: bold;
    font-size: 26px;
}

.navbar-nav {
    margin-left: 900px;
}

#navbarNavAltMarkup {
    height: 64px;  
    width: 1600px;
    
}

.navbar-light {
    border-bottom: 2px solid #ccc;

}

.navbar-light .navbar-brand {
    color: white;
}


#contact {
    text-align: left;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 26px;
    padding-top: 20px;
    padding-bottom:10px;
    padding-left: 20px;
    
}

hr {
    color: #dddddd;
}

p {
    line-height: 2;
    color: #777777;
    text-align: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#yes {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #666666;
    margin-top: 150px;
    text-align: center;
    color: #cccccc;
    padding-bottom: 0px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    border-top: 5px #4aaaa5 solid;
    
}

#copyright{
    font-size: 9px;
    display: block;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 20px;
}